.header {
    background: radial-gradient( #240577 30%,#5b1179 10%,#3af2e3 10%,#211e26 20%, transparent 100%);
    /* height: 85vh;    */
    overflow: hidden;
}

.header__hero{
    /* background: radial-gradient( #211e26 20%, transparent 100%); */
    border-radius:2rem ;
  
}

.header__container{
    /* background-image:url(../../assents/IM_Header.png) ;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-align: match-parent;
    height: 100%;
    padding-bottom: 1rem;
   
    
}
.header h1,h2,h3,h4,h5 {
    border: 0.5rem;
   
}

.header__title{
    width: 20rem;
}

.about__background{
background: linear-gradient(-90deg, rgb(36, 5, 119), transparent 70%);
    
    
}

.profile__img{
    background: linear-gradient(-90deg, transparent 70%);
}

.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.about__me {
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent,var(--color-primary), transparent);
    
}


.about__content p {
    margin: 2rem 0 2.6rem;  
    color: var(--color-light);
    font-size: 20px;
}

.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 2rem auto 4rem;
}
.contact__option {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact__option:hover{
    background: transparent ;
    border-color: var(--color-primary-variant);
}

.contact__option-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

/*=================== FORM =======================*/

.contact__form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    position: none;
}

.contact__form input,textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}
  


/* ===================================  MEDIA QUERIES (MEDIUM DEVICES) =================================== */
@media screen and (max-width: 1024px) {
  
    

    .header__container{
        height:fit-content;
        padding: 1rem;
        padding-top: 2rem;
        padding-bottom: 13rem;

     }

     .logo {
         display: flex;
         position:absolute;
         align-items: center;
        
     }

     .about__container {
        grid-template-columns: 1fr;
        gap:0
    }

    .about__me {
        width: 50% ;
        margin: 2rem auto 4rem;
    }
  .about__content p {
      margin: 1rem 0 1.5rem;
  }
}

  
  
  /* ===================================  MEDIA QUERIES (SMALL DEVICES) =================================== */
  @media screen and (max-width: 600px) {
    

         .header__socials,
         .scroll__down {
             display: none;
         }

         .header__container{
            height:fit-content;
            padding: 1rem ;
            padding-bottom: 2rem;
            padding-top: 4rem;
            text-align: center;

            
         }

         .about__me {
            width: 65%;
            margin: 0 auto 3rem;
        }
        .about__content {
            text-align: center;
        }
    
        .about__content p {
            margin: 1.5rem 0;
        }
        }


