.animation__spin {
animation-name: spin;
animation-timing-function: linear;
animation-duration: 60s;
animation-iteration-count: infinite;
}

@keyframes spin {

    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}